
.wrapper {
  margin: auto;
  width: 80%;
}

.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font: bold 24px/31px robotoblack, Arial, Helvetica, ptserif, sans_serif;
}

.logo__circle {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 45%;
  transform: translateY(-50%);
} 

.logo__circle_color_dark-blue {
  position: absolute;
  background: #0056EC;
  border-radius: 50%;
}

.logo__circle_color_blue {
  left: 8px;
  top: 51%;
  background: #C8DBFB;
  opacity: .7;
  border-radius: 50%;
}

.header {
  //padding: 40px 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
 }

.menu {
  padding: 47px 0;
  display: flex;
  align-items: center;
   
}

.menu__item {
  position: relative;
  margin-right: 26px;
  font: 500 18px/21px robotoblack, Arial, Helvetica, ptserif, sans_serif;
  color: #000;
  text-decoration: none;
 
}

.menu-item:last-child {
  padding-right: 0;
  margin-right: 0;
  
}

.menu__item_active::after {
  position: absolute;
  display: block;
  content:'';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056EC;
}

.menu__item::after {
  position: absolute;
  left: 0;
  display: block;
  content:'';
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s; width .5s;
}

.menu__item:hover {
  opacity: .5;
}

.menu__item:hover:after, .menu__item_active:after {
  opacity: 1;
  width: 100%
}

.main {
  padding: 0 68% 150px 0;
  background: top right no-repeat url(img/mainimg.svg);
  background-size: 50% auto;
}

.main__title {
  margin: 0 0 40px 0;
  font: bold 50px/65px robotoblack, Arial, Helvetica, ptserif, sans_serif;
}

.main__title-text_highlight {
  background: #ECF3FF;
}

.main__subtitle {
  margin: 0 0 41px 0;
  font: 18px/21px robotoblack, Arial, Helvetica, ptserif, sans_serif;
 
}

.main__button {
  display: inline-block;
  font: 14px/16px robotoblack, Arial, Helvetica, pt_serif, sans_serif; 
  color: #fff;
  background: #0056EC;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 4px; 
  transition:opacity .5s;
}

.main__button:hover {
  opacity: .5;
}

/* гамбургер для болього экрана*/
.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 25px;
  height: 17px;
  padding: 10px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content center;
}

/*hamburger line*/
.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: #0056EC;
  display: flex;
  align-items: center;
  justify-content: center; 
  transition: all 0.4s ease;
}

/* top and bottom lines*/
.menu-wrap .hamburger > div:before, 
.menu-wrap .hamburger > div:after { 
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 3px;
  background: inherit;
    }

/* moves 1 line down*/
.menu-wrap .hamburger > div:after {
  top: 10px;
  }

/* toggler animate*/
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* turn lines into X*/
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate on hover when checked*/
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* show menu*/
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity .4s ease;
}


.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #000;
  font-size: 2rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

@media (max-width: 1170px) {
  /*.menu {
    display: none;
  }

  /*.p1 {
    visibility: none;
  }*/

  .header {
    margin-bottom: 28px;
  }

  .main {
    text-align: center;
    padding: 74% 0 0;
    background-size: 74% auto;
    background-position: top center;
  }

  .main__title {
    margin-bottom: 25px;
    font: bold 30px/40px robotoblack, Arial, Helvetica, ptserif, sans_serif;
  }

  .main__btn {
    font: 500 14px/16px robotoblack, Arial, Helvetica, ptserif, sans_serif;
    display: flex; 
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }


  .menu {
    font: 500 40px/40px robotoblack, Arial, Helvetica, ptserif, sans_serif;
  
  }

  .container {
   max-width: 860px;
   max-height: 900px;
   margin: auto;
   //overflow: hidden;
   padding: 0 3rem;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 25px;
  height: 17px;
  padding: 10px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content center;
}

/*hamburger line*/
.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: #0056EC;
  display: flex;
  align-items: center;
  justify-content: center; 
  transition: all 0.4s ease;
}

/* top and bottom lines*/
.menu-wrap .hamburger > div:before, 
.menu-wrap .hamburger > div:after { 
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 3px;
  background: inherit;
    }

/* moves 1 line down*/
.menu-wrap .hamburger > div:after {
  top: 10px;
  }

/* toggler animate*/
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* turn lines into X*/
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate on hover when checked*/
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* show menu*/
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity .4s ease;
}


.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #000;
  font-size: 2rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}
