.wrapper {
  margin: auto;
  width: 80%;
  border: dashed 1px blue;
}

.logo {
  font-family: 'PT Serif';
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  margin-right: 63%;
  padding: 40px 0;
  display: flex;
  align-items: center;
  border: dashed 1px red;
}

 
.menu {
  padding: 47px 0;
  display: flex;
  align-items: center;
   
}

.menu__item {
  color: #000000;
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  padding: 0 13px;
  border: dashed 1px red;
}

.menu-item:last-child {
  padding-right: 0;
}

.header {
  margin: auto;
  display: flex;
  justify-content: space-between;
  border: dashed 1px red;
}

.main-content__title {
  font-family: 'PT Serif';
  font-size: 66px;
  font-style: normal;
  font-weight: 700;
  line-height: 87px;
  text-align: left;
  display: flex;
  align-items: center;
  width: 567px;
  height: 255px;
}


.main-content__subtitle {
  font-family: roboto;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  Line-height: 21.09px position: absolute;
  width: 367px;
  height: 43px;
  left: calc(50% - 367px/2 - 281.5px);
  top: 447px;
}

.button {
  color: #0056EC;
  font-family: roboto;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  Line-height: 21px
  
}

.main-content__button {
  color: #FFF
}
  

