  .wrapper {
    margin: auto;
    width: 80%;
  }

  .logo {
    position: relative;
    padding: 40px 0;
    padding-left: 44px;
    font: bold 24px/31px ptserif, robotoblack, Arial, Helvetica, sans_serif;
  }

  .header {
    display: flex;
    justify-content: space-between;
   
   }


  .menu {
    display: flex;
    text-align: center;
    margin-top: 24px;
    position: absolute;
    right: 9%;   

  }

    li {
      list-style-type: none;
      display: inline-block; 
    
    }

 
    
  .menu__item {
    position: relative;
    margin-right: 26px;
    font: 500 18px/21px robotoblack, Arial, Helvetica, ptserif, sans_serif;
    color: #000;
    text-decoration: none;
   
  }

  .menu-item:last-child {
    padding-right: 0;
    margin-right: 0;
    
  }

  .menu__item_active::after {
    position: absolute;
    display: block;
    content:'';
    left: 0;
    width: 100%;
    height: 3px;
    background: #0056EC;
  }

  .menu__item::after {
    position: absolute;
    left: 0;
    display: block;
    content:'';
    width: 0;
    height: 3px;
    background: #0056EC;
    opacity: 0;
    transition: opacity .5s; width .5s;
  }

  .menu__item:hover {
    opacity: .5;
  }

  .menu__item:hover:after, .menu__item_active:after {
    opacity: 1;
    width: 100%
  }

  .main {
    padding: 0 68% 500px 0;
    background: top right no-repeat url(img/mainimg.svg);
    background-size: 50% auto;
  }

  .main__title {
    margin: 0 0 40px 0;
    font: bold 70px/83px ptserif, robotoblack, Arial, Helvetica;
  }

  .main__title-text_highlight {
    background: #ECF3FF;
  }

  .main__subtitle {
    margin: 0 0 41px 0;
    width: 450px;
    font: 23px/27px robotoblack, Arial, Helvetica, ptserif, sans_serif;
   
  }

  .main__button {
    display: inline-block;
    font: 18px/20px robotoblack, Arial, Helvetica, ptserif, sans_serif; 
    color: #fff;
    background: #0056EC;
    padding: 21px 27px;
    text-decoration: none;
    border-radius: 4px; 
    transition:opacity .5s;
  }

  .main__button:hover {
    opacity: .5;
  }

@media  (max-width: 1920px) {

  .logo__circle {
    width: 28px;
    height: 28px;
    position: absolute;
    left: -2px;
    top: 58%;
    transform: translateY(-50%);
  } 

  .logo__circle_color_dark-blue {
    position: absolute;
    background: #0056EC;
    border-radius: 50%;
  }

  .logo__circle_color_blue {
    left: 4px;
    top: 67%;
    background: #C8DBFB;
    opacity: .7;
    border-radius: 50%;
  }

  .header {

    /*font: bold 24px/25px robotoblack, Arial, Helvetica, ptserif, sans_serif;*/
    padding: 0 5em 0 0;
  }

  .p1 {
    font: bold 28px/30px ptserif;
    position: absolute;
    top: 32px; 
    left: 39px;

  }

  .header {
    display: flex;
    justify-content: space-between;
    /*margin-bottom: 200px;*/
   }


  .toggler {
    display: none;
  }

  .menu {
    display: flex;
    text-align: center;
    margin-top: 24px;
    margin-left: 30px;

  }


  .menu__item {
    position: relative;
    margin-right: 26px;
    font: 500 18px/21px robotoblack, Arial, Helvetica, ptserif, sans_serif;
    color: #000;
    text-decoration: none;
   
  }

  .menu-item:last-child {
    padding-right: 0;
    margin-right: 0;
    
  }

  .menu__item_active::after {
    position: absolute;
    display: block;
    content:'';
    left: 0;
    width: 100%;
    height: 3px;
    background: #0056EC;
  }

  .menu__item::after {
    position: absolute;
    left: 0;
    display: block;
    content:'';
    width: 0;
    height: 3px;
    background: #0056EC;
    opacity: 0;
    transition: opacity .5s; width .5s;
  }

  .menu__item:hover {
    opacity: .5;
  }

  .menu__item:hover:after, .menu__item_active:after {
    opacity: 1;
    width: 100%
  }

  .main {
    padding: 15% 65% 100px 0;
    background: top right no-repeat url(img/mainimg.svg);
    background-position: right 65px bottom -1.7vw;
    background-size: 48.5%;
    height: 100%;
    width: 600px;
  }

  .main-content {
    margin-left: -3px;
    margin-top: 4px;
  }
  
  .main__title {
    margin: 0 0 37px 0;
    font: bold 70px/85px ptserif;
    letter-spacing: 1.8px;
  }

  .main__title-text_highlight {
    background: #ECF3FF;
  }

  .main__subtitle {
    margin: 0 0 40px 0;
    width: 440px;
    font: 22px/26px robotoblack, Arial, Helvetica, ptserif, sans_serif;
    
  }

  .main__button {
    display: inline-block;
    font: 18px/20px ptserif, robotoblack, Arial, Helvetica, sans_serif; 
    color: #fff;
    background: #0056EC;
    padding: 23px 28px;
    margin: 3px 0 2px 0;
    height: 11px;
    text-decoration: none;
    border-radius: 4px; 
    transition:opacity .5s;

  }
}

@media (max-width: 1367px) {


  .p1 {
    font: bold 27.5px/30px ptserif;
    left: 118px;
  }
 
  .logo__circle {
      left: 76px;
    }

  .logo__circle_color_blue {
       left: 84px;
  }

  .menu {
      right: 187px;
    
  }

  .menu__item {
      font: 500 13.8px/19px ptserif, robotoblack, Arial, Helvetica, sans_serif;
      letter-spacing: 0.2px;
  }

  .menu-item:last-child {
      position: absolute;
      margin-right: 5px;
  }

  .main__title {
      margin: -40px 0 0px 1.38em;
      font: bold 56px/64px ptserif;
      
  }

  .main__subtitle {
      margin: 2.4em 1em 2.2em 4.5em;
      width: 350px;
      font: 17.5px/23px robotoblack, Arial, Helvetica, ptserif, sans_serif;
      letter-spacing: .3px;
  }
  

  .main__button {
      position: absolute;
      top: 68%;
      display: block;
      text-align: center;
      padding-top: 13px;
      padding-left: 16px;
      font: 13.5px/18px ptserif, robotoblack, Arial, Helvetica, sans_serif; 
      margin-left: 79px;
      margin-top: 8px;
      height: 8px;
      letter-spacing: 0.3px;

        }

  .main {
      padding: 15% 58% 100px 0;
      background-position: right 222px bottom -3px;
      background-size: 41.7%;
}

@media (max-width: 1024px) {

  .wrapper {
    width: 100%;
  }

  .logo__circle {
    left: 38px;
  }
  .logo__circle_color_blue {
    left: 46px;
  }

  .p1 {
    left: 80px;
  }

  .menu {
    right: 0.9%;
  }

  .main__title {
    margin: -30px 0 0px 0.66em;
  }

  .main__subtitle {
    margin: 2.4em 1em 2.2em 2.38em;
  }

  .main__button {
    position: absolute;
    top: 68.1vh;
    margin-left: 41px;
    padding-right: 30px;
    font: 15.5px;
    letter-spacing: 0.1px;
    width: 162px;
  }

  .main {
    background-size: 43%;
  }
}

@media (max-width: 768px) {

  .p1 {
    display:none;
  }

  .menu {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #000;
    font: 500 30px/36px robotoblack, Arial, Helvetica, ptserif, sans_serif;
  }


  .logo__circle {
    width: 28px;
    height: 28px;
    position: absolute;
    left: 24px;
    top: 37px;
    transform: translateY(-50%);
  } 

  .logo__circle_color_dark-blue {
    position: absolute;
    left: 14px;
    top: 28px;
  }

  .main {
    padding-top: 80px;
    background-size: 55% auto;
    background-position: right top;
    width: auto;
  }  

  .main-content {
    margin-left: 0;
    margin-top: 40px;


  }

  .container {
     max-width: 960px;
     margin: auto;
     padding: 0 3rem;
  }

  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 90%;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }

  .menu-wrap .hamburger {
    position: absolute;
    top: 20px;
    left: 84%;
    z-index: 1;
    width: 25px;
    height: 17px;
    padding: 10px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /*hamburger line*/
  .menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: #0056EC;
    display: flex;
    align-items: center;
    justify-content: center; 
    transition: all 0.4s ease;
    top: 2px;
  }

  /* top and bottom lines*/
  .menu-wrap .hamburger > div:before, 
  .menu-wrap .hamburger > div:after { 
    content: '';
    position: absolute;
    z-index: 1;
    top: -7px;
    width: 100%;
    height: 3px;
    background: inherit;
    }

  /* moves 1 line down*/
  .menu-wrap .hamburger > div:after {
    top: 7px;
  }


/* toggler animate*/
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }

/* turn lines into X*/
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }

  /* Rotate on hover when checked*/
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  
  /*show menu*/
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }

  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }

  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity .4s ease;
  }

  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }

  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #000;
    font-size: 2rem;
    padding: 1rem;
  }

  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }

  .main__title {
    display: center;
    margin-bottom: 25px;
    font-size: 38px;
    padding-top: 0;
    justify-content: center;
    text-align: center;
    width: 300px;
    letter-spacing: 0.2px;
  }


  .main__subtitle {
    top: 4px;
    margin-left: 45px;
    width: 280px;
    font: 18px/25px robotoblack, Arial, Helvetica, ptserif, sans_serif;
    letter-spacing: 0.6px;
    justify-content: center;
    text-align: center;
  }


  .main__button {
    display: flex; 
    cursor: pointer;
    z-index: 1;
    font: 500   
    margin-left: 76px;
    letter-spacing: 0.11px;
    width: 182px;
    //border: 2px red dotted;
    top: 520px;
}

  .wrapper {
    height: 100vh;
    border: 2px red dotted;
  }
}


@media (max-width: 480px) {

  .main__title {
    //display: center;
    font-size: 31px;
    line-height: 40px;
    padding-top: 166px;
    padding-left: 10px;
    letter-spacing: 1.3px;
    margin-bottom: 0;
  }

  .main {
    position: relative;
    background-size: 74.5vw;
    margin-right: 41px;
  }

  .main__button {
    margin: 0 0 0 75px;
    width: 174px;
    top: 490px;
  }

  .main__subtitle {
    position: relative;
    font: 15px/20px robotoblack, Arial, Helvetica, ptserif, sans_serif;
    width: 255px;
    height: 50px;
    padding-left: 9px;
    margin-top: 27px;
  }
}