  .wrapper {
    margin: auto;
    width: 80%;
  }

  .logo {
    position: relative;
    padding: 33px 0;
    font: bold 24px/31px ptserif, robotoblack, Arial, Helvetica, sans_serif;
  }

  .header {
    justify-content: space-between;
  }

  .menu {
    display: flex;
    margin-top: 24px;
    position: absolute;
    right: 9%;
    padding-left: 71px;   
  }

  li {
    list-style-type: none;
    display: inline-block; 
  }

  .menu__item {
    position: relative;
    margin-right: 26px;
    font: 500 18px/21px robotoblack, Arial, Helvetica, ptserif, sans_serif;
    color: #000;
    text-decoration: none;
  }

  .menu-item:last-child {
    padding-right: 0;
    margin-right: 0;
  }

  .menu__item_active::after {
    position: absolute;
    display: block;
    content:'';
    left: 0;
    width: 100%;
    height: 3px;
    background: #0056EC;
  }

  .menu__item::after {
    position: absolute;
    left: 0;
    display: block;
    content:'';
    width: 0;
    height: 3px;
    background: #0056EC;
    opacity: 0;
    transition: opacity .5s; 
  }

  .menu__item:hover {
    opacity: .5;
  }

  .menu__item:hover:after, .menu__item_active:after {
    width: 100%;
  }

  .main {
    padding: 0 68% 0 0;
    background: top right no-repeat url(img/mainimg.svg);
    background-size: 50% auto;
  }
 

  .main-content__title {
    margin: 0 0 40px 0;
    font: bold 70px/83px ptserif, robotoblack, Arial, Helvetica;
  }

  .main-content__title-text_highlight {
    background: #ECF3FF;
  }

  .main-content__subtitle {
    margin: 0 0 41px 0;
    width: 450px;
    font: 23px/27px robotoblack, Arial, Helvetica, ptserif, sans_serif;
  }

  .main-content__button {
    display: inline-block;
    font: 18px/20px robotoblack, Arial, Helvetica, ptserif, sans_serif; 
    color: #fff;
    background: #0056EC;
    padding: 21px 27px;
    text-decoration: none;
    border-radius: 4px; 
    transition:opacity .5s;
  }

  .main-content__button:hover {
    opacity: .5;
  }

  /*Animation*/
  .content__circle {
    width: 50%;
    height: 85%;
    background-color: #cce6ff;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 20px;
    z-index: 4;
    opacity: .3;

    animation: circle 5s ease-in-out alternate-reverse infinite;
  }


  @keyframes circle {
    0% {
      transform: translateX(5%);
    }
    
    50% {    
    background-color: #f2e6ff;
    }

    100% {
      transform: translateX(80%);
    }
  }


@media  (max-width: 1920px) {

  .logo {
    position: relative;
    padding: 7px 42px;
    font: bold 27px/31px ptserif;
  }

  .logo__circle {
    width: 28px;
    height: 28px;
    position: absolute;
    left: -2px;
    top: 48%;
    transform: translateY(-50%);
  } 

  .logo__circle_color_dark-blue {
    position: absolute;
    background: #0056EC;
    border-radius: 50%;
  }

  .logo__circle_color_blue {
    top: 54%;
    background: #C8DBFB;
    opacity: .7;
    border-radius: 50%;
  }

  .header {
    padding: 0 5em 0 0;
    display: flex;
    justify-content: space-between;
  }

  .toggler {
    opacity: 0;
  }

  .menu {
    display: flex;
    text-align: center;
    margin-top: 6px;
    margin-left: 30px;
  }


  .menu__item {
    position: relative;
    margin-right: 26px;
    font: 500 18px/21px robotoblack, Arial, Helvetica, ptserif, sans_serif;
    color: #000;
    text-decoration: none;
  }

  .menu-item:last-child {
    padding-right: 0;
    margin-right: 0;
  }

  .menu__item_active::after {
    position: absolute;
    display: block;
    content:'';
    left: 0;
    width: 100%;
    height: 3px;
    background: #0056EC;
  }

  .menu__item::after {
    position: absolute;
    left: 0;
    display: block;
    content:'';
    width: 0;
    height: 3px;
    background: #0056EC;
    opacity: 0;
    transition: opacity .5s; 
  }

  .menu__item:hover {
    opacity: .5;
  }

  .menu__item:hover:after, .menu__item_active:after {
    opacity: 1;
    width: 100%
  }

  .main {
    padding: 14% 65% 11% 0;
    background-position: right 65px top 7vw;;
    background-size: 48.5%;
    height: 100%;
    width: 600px;
  }

  
  .main-content__title {
    font: bold 70px/85px ptserif;
    letter-spacing: 1.8px;
  }

  .main-content__subtitle {
    margin: 0 0 40px 0;
    width: 440px;
    font: 22px/26px robotoblack, Arial, Helvetica, ptserif, sans_serif;
  }

  .main-content__button {
    padding: 18px 37px 22px 19px;
    margin: 3px 0 2px 0;
    height: 11px;
    text-decoration: none;
    border-radius: 4px; 
    transition:opacity .5s;
  }
}

@media (max-width: 1367px) {

  .p1 {
    font: bold 27px/28px ptserif;
    margin-left: 76px;
  }
 
  .logo__circle {
    left: 78px;
  }

  .logo__circle_color_blue {
    left: 84px;
  }

  .menu {
    right: 177px;
    width: 401px;
  }

  .menu__item {
    font: 500 13.8px/19px ptserif, robotoblack, Arial, Helvetica, sans_serif;
    letter-spacing: .2px;
  }

  .menu-item:last-child {
    position: absolute;
    margin-right: 5px;
  }

  .main-content__title {
    margin-left: 1.3em;
    font: bold 55px/64px ptserif;
    letter-spacing: .8px;
      
  }

  .main-content__subtitle {
    font: bold 27.5px/30px ptserif;
    left: 118px;
    margin: 2.4em 1em 2.2em 4.2em;
    width: 350px;
    font: 17.5px/23px robotoblack, Arial, Helvetica, ptserif, sans_serif;
    letter-spacing: .4px;
  

  }
  

  .main-content__button {
    display: block;
    text-align: center;
    font: 14px/17px ptserif, robotoblack, Arial, Helvetica, sans_serif;
    letter-spacing: .2px;
    margin-left: 77px;
    padding: 16px 17px 2px 5px;
    height: 28px;
    width: 187px;
        }

  .main {
    padding: 10% 58% 95px 0;
    background-position: right 222px bottom 39px;
    background-size: 41.7%;
    }
   
  /*animation*/
  .content__circle {
    width: 50%;
    height: 80%;
    background-color: #cce6ff;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 14%;
    z-index: 4;
    opacity: .3;

    animation: circle 5s ease-in-out alternate-reverse infinite;

  }


    @keyframes circle {
      0% {
        transform: translateX(5%);
      }
      
      50% {    
      background-color: #f2e6ff;
      }

      100% {
        transform: translateX(80%);
      }
    }
  }

@media (max-width: 1024px) {

  .wrapper {
    width: 100%;
  }

  .logo {
    padding: 7px 4px;
  }

  .logo__circle {
    left: 38px;
  }
  .logo__circle_color_blue {
    left: 46px;
  }

  .menu {
    right: 0;
  }

  .main-content__title {
    margin-left: .66em;
    font: bold 54px/64px ptserif;
    letter-spacing: .6px;

  }

  .main-content__subtitle {
    margin: 2.4em 1em 2.2em 2.38em;
  }

  .main-content__button {
    margin-left: 38px;
    font: 16px;
    letter-spacing: .1px;
    width: 188px;
    padding-top: 13px;
  }

  .main {
    background-size: 51%;
    padding: 11% 41% 0 0;
    background-position: right 44px top 12vh;
  }

  /*animation*/
  .content__circle {
    width: 70%;
    height: 95%;
    background-color: #cce6ff;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 20px;
    z-index: 4;
    opacity: .3;

    animation: circle 5s ease-in-out alternate-reverse infinite;
  }

 @keyframes circle {
    0% {
      transform: translateX(5%);
    }
    
    50% {    
    background-color: #f2e6ff;
    }

    100% {
      transform: translateX(47%);
    }
  }  
}

@media (max-width: 768px) {

  .p1 {
    display:none;
  }

  .logo__circle {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 24px;
    top: 37px;
    transform: translateY(-50%);
  } 

  .logo__circle_color_dark-blue {
    position: absolute;
    left: 14px;
    top: 28px;
  }

  .main {
    background-size: 57%;
    background-position: right 0 top 12vh;
    width: auto;
    height: auto;
    margin-top: 6vh;
  }  

  .main-content__title {
    margin: 9px 43px 10px 39px;
    font: bold 39px/54px ptserif;
    letter-spacing: .4px;
  }


  .main-content__subtitle {
    margin: 4.4em 9em 4.2em 2.5em;
    width: 318px;
    font-size: 16px;
  }

  .main-content__button {
    top: 0;
  }

  .menu-wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  }

  .toggler {
    position: absolute;
    top: .5rem;
    right: .5rem;
    width: 60px;
    height: 60px;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
  }

  .hamburger {
    position: absolute;
    top: .6rem;
    right: .5rem;
    width: 60px;
    height: 60px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .hamburger>div{
    position: absolute;
    width: 25px;
    height: 3px;
    border-radius: 1.5px;
    background-color: #0056EC;
    transition: .4s;
  }

  .hamburger>div:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background-color: #0056EC;
    top: -7px;
    left: 0;
    transition: .4s;
  }

  .hamburger>div:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background-color: #0056EC;
    top: 7px;
    left: 0;
    transition: .4s;
  }

  .toggler:checked + .hamburger>div{
    transform: rotate(135deg);
  }

  .toggler:checked:hover + .hamburger>div{
    transform: rotate(225deg);
  }

  .toggler:checked + .hamburger>div:before, .toggler:checked + .hamburger>div:after{
    top: 0;
    transform: rotate(90deg);
  }

  .menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    transition: .6s;
  }

  .menu > div{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1600px;
      height: 1600px;
      border-radius: 50%;
      background-color: white;
      display: -webkit-flex;
      -webkit-flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      transition: .6s;
  }

  .menu > div > div{
    max-width: 50vw;
    max-height: 100vh;
    display: flex;
    padding-bottom: 21px;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: .6s;
  }

  .menu > div > div > ul > li{
    list-style: none;
  }

  .menu > div > div > ul > li > a{
    text-decoration: none;
    margin: .5rem;
    margin-right: 101px;
    display: inline-block;
    font-size: 30px;
    line-height: 45px;
    font-weight: 600;
    color: #000;
    transition: .3s;

  }

  .toggler:checked ~ .menu{
    visibility: visible;
    position: absolute;
    display: block; /* The links appear below each other */
  }

  .toggler:checked ~ .menu > div{
    transform: translateX(-50%) translateY(-50%);
  }

  .toggler:checked ~ .menu > div > div{
    opacity: 1;
  }


  .toggler:checked ~ .menu-item:last-child {
      white-space: nowrap;
  }

  /*animation*/
  .content__circle {
    width: 80%;
    height: 70%;
    background-color: #cce6ff;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 20px;
    z-index: 4;
    opacity: .3;

    animation: circle 5s ease-in-out alternate-reverse infinite;
  }


    @keyframes circle {
      0% {
        transform: translateX(5%);
      }
      
      50% {    
      background-color: #f2e6ff;
      }

      100% {
        transform: translateX(50%);
      }
    }

}

@media (min-width: 481px) and (max-width: 600px) {


  .main-content__title {
    font: bold 34px/38px ptserif;
    letter-spacing: 0.3px;
  }

  .main-content__subtitle {
    margin: 4.4em 0 4.2em 2.5em;
    width: 253px;
    font: 11px/16px robotoblack, Arial, Helvetica, ptserif, sans_serif;
    padding-left: 10px;
  }

  .main-content__button {
    margin-left: 35px;
    font: 11px/15px robotoblack, Arial, Helvetica, ptserif, sans_serif;
    width: 135px;
    height: 25px;
    padding-left: 11px;
  }

  .main {
    background-size: 50%;
    background-position: right 10px top 9vh;;
    height: 100%;
  }

  .menu > div > div > ul > li > a{
    font-size: 26px;
    line-height: 35px;
  }

  .toggler:checked ~ .menu > div{
    transform: translateX(-50%) translateY(-52%);
  }

  /*animation*/
  .content__circle {
    
    left: 0;
    top: 15%;
    width: 65%;
    height: 58%;
  }


    @keyframes circle {
      0% {
        transform: translateX(5%);
      }
      
      50% {    
      background-color: #f2e6ff;
      }

      100% {
        transform: translateX(35%);
      }
    }
}


@media (max-width: 480px) {

  .main-content__title {
    font-size: 31px;
    line-height: 40px;
    padding-top: 273px;
    margin-bottom: 0;
    margin-left: 0;
    text-align: center;
    width: 341px;
    letter-spacing: 0.9px;

  }

  .main {
    background-size: 74.5vw;
    background-position: left 38px top 24px;
    height: 560px;
    padding: 4px 0px 0 10px;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }


  .menu > div > div{
    max-width: 100vw;
    max-height: 100vh;
  }

  .main-content__button {
    margin-left: 67px;
    width: 186px;
    padding-top: 13px;
  }

  .main-content__subtitle {
    font: 16px/19px robotoblack, Arial, Helvetica, ptserif, sans_serif;
    width: 245px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 33px;
    text-align: center;
    padding-left: 10px;
    letter-spacing: .2px;
  }

  .toggler:checked ~ .menu > div > div{
    opacity: 1;
    z-index: 3;

  }
  .toggler:checked ~ .menu > div > div > ul {
    margin-bottom: 27px;
    padding-right: 77px;
  }

  .menu > div > div > ul > li > a {
    font-size: 29px;
}

  .menu > div > div {
    padding-bottom: 20px;
    padding-right: 5px;
  }

  .toggler:checked ~ .main-content__button {
    display: none;
  }

  /*animation*/
  .content__circle {
    width: 93%;
    height: 49%;
    background-color: #cce6ff;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 80px;
    z-index: 4;
    opacity: .3;

    animation: circle 5s ease-in-out alternate-reverse infinite;
  }


    @keyframes circle {
      0% {
        transform: translateX(5%);
      }
      
      50% {    
      background-color: #f2e6ff;
      }

      100% {
        transform: translateX(30%);
      }
    }  

}