  body {
    margin: 0;
  }

  .wrapper {
    margin: auto;
    width: 80%;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 11.5vh;
  }

  .logo {
    position: relative;
    display: inline-block;
    padding: 40px 0 32px 48px;
    font: bold 24px/31px 'ptserif-bold', 'robotoblack', Arial, Helvetica, sans_serif;
    width: 190px;
    height: 35px;
    
  }

  .logo__circle {
    position: absolute;
    left: 4px;
    top: 46%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

  .logo__circle_color_dark-blue {
    background: #0056ec;
    transform: translate(1px, -9px);
    display: inline-block;
  }

  .logo__circle_color_blue {
    background: #C8DBFB;
    transform: translate(9px, -2px);
    opacity: 0.7;
    display: inline-block;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    padding: 47px 0;
    
  }

  .hamburger-menu {
    display: none;
  }

  ul li {
    display: inline;
    padding-left: 8%;
  }

  .toggler {
    display: none;
  }

  .menu__item {
    position: relative;
    margin-right: 23px;
    font: 600 18px/22px 'robotoblack-regular', helvetica, arial, sans-serif;
    color: #000;
    text-decoration: none;
    transition: opacity 0.5s;
    animation: anime 5s ease infinite;
  }

  .menu__item:last-child {
    width: 85px;
    height: 22px;
    margin-right: 6px;
    width: 100%;
  }

  .menu__item_active::after {
    position: absolute;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background: #0056ec;
  }
  
  .menu__item:hover {
    opacity: 0.5;
  }

  .menu__item::after {
    position: absolute;
    left: 0;
    display: block;
    content: '';
    width: 0;
    height: 3px;
    background: #0056ec;
    opacity: 0;
    transition: opacity 0.5s, width 0.5s;
  }

  .menu__item:hover::after,
  .menu__item_active::after {
    opacity: 1;
    width: 100%;
  }

  .main {
    background: top right no-repeat url(./img/mainimg.svg);
    background-size: 50.5%;
    padding: 19px 56% 26vh 0;
    margin-bottom: 7px;
  }

  .main__title {
    font: bold 66px/88px 'ptserif-bold', Arial, Helvetica, sans_serif;
    display: block;
    width: 567px;
    margin-bottom: 3vh;
  }

  .main__title-text_highlight {
    background: linear-gradient(180deg,rgba(255,255,255,1) 15%, #ECF3FF 15%);
  }

  .main__subtitle {
    font: 400 22px/28px 'robotoblack', Arial, Helvetica, sans_serif; 
    width: 452px;
    letter-spacing: .2px;
    margin-bottom: 57px;
  }

  .main__button {
    background: #0056EC;
    width: 271px;
    height: 17px;
    padding: 18px 36px 19px 21px;
    border-radius: 4px;
    font: 500 18px/21px 'robotoblack', arial, helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
    margin-left: 3px;
    letter-spacing: .1px;
  }

  .dots {
    background: no-repeat url(img/dots.png);
    background-size: 100%;
    width: 34px;
    height: 8px;
    margin: 0 auto;
    margin-bottom: 38px;
  }

@media (max-width: 1367px) {
  .wrapper {
    width: 69%;
  }
  .header {
    margin-bottom: 9.8vh;
  }

  .logo__circle_color_dark-blue {
    transform: translate(3px, -10px);
  }

  .logo__circle_color_blue {
    transform: translate(10px, -2px);
  }

  .logo {
    padding: 40px 0 32px 50px;
    font: bold 24px/29px 'ptserif-bold', 'robotoblack', Arial, Helvetica, 'sans_serif';
  }

  .menu__item {
    margin-right: 24px;
    font: 600 13.8px/24px 'robotoblack-regular', helvetica, arial, sans-serif;
  }

  .menu {
    padding-right: 4px;
  }

  .menu__item::after {
    top: 21px;
  }

  .main {
    background-size: 55%;
    margin-right: 5px;
    padding: 19px 56% 20vh 0;
  }

  .main__title {
    font: bold 50px/66.25px 'ptserif-bold', Arial, Helvetica, 'sans_serif';
    display: block;
    padding: 0 0 5px 6px;
    margin: 0 0 29px 0;
  }

  .main__subtitle {
    font: 400 18px/22px 'robotoblack', Arial, Helvetica, sans_serif;
    width: 370px;
    margin-bottom: 55px;
    padding-left: 5px;
    padding-top: 3px;
  }

  .main__button {
    padding: 15px 28px 14px 18px;
    border-radius: 4px;
    font: 500 14px/15px 'robotoblack', arial, helvetica, sans-serif;
    margin-left: 5px;
    align-items: center;
  }
}

@media (max-width: 1024px) {

  .wrapper {
    width: 93%;
  }

  .logo {
    padding: 41px 0 32px 53px;
  }

  .logo__circle {
    left: 7px;
  }

  .main {
    margin-right: 10px;
    margin-bottom: 5px;
  }

  .main__title {
    padding: 0 0 5px 10px;
  }

  .main__subtitle {
    padding-left: 10px;
  }

  .main__button {
    padding: 15px 23px 13px 18px;
    margin-left: 10px;
  }

}

@media (max-width: 955px) {

  .main__title {
      font: bold 35px/53px 'ptserif-bold', Arial, Helvetica, 'sans_serif';
      width: 91%
  }

  .main__subtitle {
    font: 400 15px/22px 'robotoblack', Arial, Helvetica, 'sans_serif';
    width: 321px;
  }

}

@media (max-width: 768px) {

  .header {
    margin-bottom: 0;
  }

  .logo > span {
    display: none;
  }

  .menu {
    display: none;
  }

  .main {
    /* display: flex;
    flex-direction: column;
    background-position: center; */
   
    background-size: 57%;
    background-position: right 0 top 12vh;
    width: auto;
    height: auto;
    margin-top: 6vh;
  }  
  }
}

@media (max-width: 375px) {

}